[submodule "doctest"]
	path = doctest
	url = https://github.com/onqtam/doctest.git
[submodule "tdlib"]
	path = tdlib
	url = https://github.com/freetdi/tdlib.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/lukka/run-vcpkg.git
